{% load static %}
<html lang="fa">

<body>
                                            <form action="" method="POST">
       {{ form.non_field_errors }}

    <div class="form-group" >

<label form="{{ form.username.id_for_label }}"></label>
        <input placeholder="نام کاربری"  autocomplete="off" class="form-style"
              {{ form.username}} {{ form.username.errors }} >
        <i class="input-icon uil uil-at"></i>

    </div>
    <div class="form-group mt-3">

        <label form="{{ form.password.id_for_label }}"></label>
        <input placeholder="رمز عبور"  autocomplete="off" class="form-style"
               {{ form.password }} {{ form.password.errors }} >
        <i class="input-icon uil uil-lock-alt"></i>
    </div>
        {% csrf_token%}
    <button type="submit" class="btn mt-4">تایید</button>
</form>

</body>
</html>

