{% load static %}
<html lang="en">

<body>
                                    <form action="" method="POST">
                                        <div class="form-group mt-4">


                                            <label form="{{ form.username.id_for_label }}"></label>
                                            <input placeholder="نام کاربری" autocomplete="off" class="form-style"
                                                   {{ form.username}} {{ form.username.errors }}>
                                            <i class="input-icon uil uil-at"></i>

                                        </div>
                                        <div class="form-group">
                                            <label form="{{ form.email.id_for_label }}"></label>
                                            <input placeholder="ایمیل" autocomplete="off" class="form-style"
                                                   {{ form.email}} {{ form.email.errors }}>
                                            <i class="input-icon uil uil-at"></i>

                                        </div>
                                        <div class="form-group">


                                            <label form="{{ form.password1.id_for_label }}"></label>
                                            <input placeholder="رمز عبور" autocomplete="off" class="form-style"
                                                   {{ form.password1}} {{ form.password1.errors }}>
                                            <i class="input-icon uil uil-lock-alt"></i>

                                        </div>
                                        <div class="form-group">

                                            <label form="{{ form.password2.id_for_label }}"></label>
                                            <input placeholder="تکرار رمز عبور" autocomplete="off" class="form-style"
                                                   {{ form.password2}} {{ form.password2.errors }}>
                                            <i class="input-icon uil uil-lock-alt"></i>

                                        </div>
                                        {% csrf_token %}
                                        <button type="submit" class="btn mt">ثبت نام</button>
                                    </form>
                                </div>
</body>
</html>
                                       
